<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>

<body>


  <h1>Technet IP oversikt</h1>
  <table>
    <th>IP addresser</th>
    <th>Beskrivelse</th>
    <th>Status</th>
    <th>Sist aktiv</th>

    <% for(var i=0; i<data.length; i++) {%>
      <tr bgcolor="#91F291">
        <td>
          <%= data[i].ip %>
        </td>
        <td><%= data[i].description %></td>
        <td><%= data[i].state %></td>
        <td><%= data[i].date %></td>
      </tr>
      <% } %>

  </table>

</body>

</html>
